/bootstrap/compiled.php
/vendor
/modules
/config/local
/themes/vojtasvoboda/assets
/themes/vojtasvoboda/assets/vendor
/themes/vojtasvoboda/assets/javascript
/themes/vojtasvoboda/assets/stylesheets
/themes/vojtasvoboda/assets/images
/themes/vojtasvoboda/src/video
/storage/app/uploads
composer.phar
.DS_Store
.idea
php-errors.log
sftp-config.json
selenium.php
.env.*.php
.env.php
.env
.deliver-secret.yml
.htpasswd
testdata.xml
node_modules
_ide_helper.php