html {
    overflow-y: scroll;
}

.main-content {
    padding: 0 25px;
    font-size: 14px;

    @media #{$screen-sm-up} {
        width: 785px;
        font-size: 15px;
        background-color: #fafafa;
        padding: 0 60px;
    }

    h1 {
        @media #{$screen-sm-up} {
            margin-bottom: 26px;
        }
    }

    h2 {
        color: #4a4a4a;

        @media #{$screen-sm-up} {
            margin-top: 34px;
        }
    }

    h3 {
        color: #666;

        @media #{$screen-sm-up} {
            font-size: 16px;
            margin-left: 5px;
        }
    }

    p {
        @media #{$screen-sm-up} {
            margin: 0 10px 15px;
        }
    }

    .collapse, .collapsing {
        padding: 20px;
        background-color: #eaeaea;
        border: 1px solid #ccc;
    }

    .additional-info {
        font-size: 12px;

        @media #{$screen-sm-up} {
            font-size: 13px;
        }
    }
}