body {
    background-color: #E6F1F5;
    padding: 15px 0;
}

.container {
    max-width: 810px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fff;
}

h1 {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 3px double #ddd;
    color: #444;
}

h2 {
    padding-bottom: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #666;
}

p {
    margin-bottom: 25px;
}

.info {
    text-align: center;

    span {
        display: inline-block;
        padding: 10px;
        background-color: #fafafa;
        border: 1px solid #ddd;
    }
}

.social {

    text-align: center;
    color: #333;
    font-size: 12px;

    a {
        color: #666;

        &:hover, &:focus {
            color: #000;

            i {
                text-decoration: none;
            }
        }
    }

    i {
        color: #666;
        font-size: 42px;
        display: block;
        margin-bottom: 10px;
    }
}

.references {

    text-align: center;
    font-size: 12px;

    .image {
        max-height: 140px;
        overflow: hidden;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }
}

.contacts {
    margin-bottom: 15px;
}
