.main-content {
    position: relative;
    line-height: $line-height-computed;
    padding: 35px 30px 25px;

    @media #{$screen-sm-up} {
        padding: 35px 15px 25px;
    }

    .row {
        position: relative;
        z-index: 2;
    }

    &.centered {
        text-align: center;
    }

    .content-text {
        img {
            padding: 10px 0;
            max-width: 100%;
        }

        ul {
            margin: 0 0 30px;
        }

        table {
            width: 100%;
            text-align: center;

            td {
                padding: 10px 5px;
            }
        }
    }
}
