.header-main {
    position: relative;
    padding-top: 15px;
    background: transparent url("#{$img-root}/header-star.png") center 0 no-repeat;

    @media #{$screen-sm-up} {
        background-position: 250px 0;
    }

    @media #{$screen-md-up} {
        background-position: 400px 0;
    }

    @media #{$screen-lg-up} {
        background-position: 750px 0;
    }

    .logo {
		border-top: 2px solid #F1F1F1;
		text-align: center;
		clear: both;
		padding: 20px;

        a {
            display: inline-block;
            width: 240px;
            height: 69px;
            background: transparent url("#{$img-root}/logo.png") 0 0 no-repeat;
            background-size: contain;
            text-decoration: none;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }

}