description = "Default layout"
==
<?php
function onStart()
{
    $this['locale'] = App::getLocale();
    $this['is_production'] = App::environment('production');
    $this['url_base'] = '/';
}
?>
==
<!DOCTYPE html>
<html lang="en" class="en no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Programátor webových stránek | Vojta Svoboda</title>

        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">

        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png' | theme }}">

        <link href="{{ [
                '@framework.extras',
                'assets/sass/site.scss'
            ] | theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

    <div class="container">
        {% page %}
    </div>

    <script src="{{ [
        'assets/vendor/jquery/dist/jquery.js',
        '@framework',
        '@framework.extras',
        'assets/javascript/site.js'
    ] | theme }}"></script>
    {% scripts %}

    </body>
</html>
