description = "Default layout"
==
<!DOCTYPE html>
<html lang="en" class="en no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Programátor webových stránek | Vojta Svoboda</title>

        <meta name="description" content="Programátor webových aplikací" />
        <meta name="title" content="Vojta Svoboda" />

        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png' | theme }}" />

        <link href="{{ [
            'assets/sass/site.scss'
        ] | theme }}" rel="stylesheet" />
    </head>
    <body>

    {% partial 'modules/analytics' %}

    <div class="container">
        {% page %}
    </div>

    </body>
</html>
