description = "Výchozí layout"
==
<?php
function onStart()
{
    $this['locale'] = App::getLocale();
    $this['is_production'] = App::environment('production');
    $this['url_base'] = '/';
}
?>
==
<!DOCTYPE html>
<html lang="{{ locale }}" class="{{ locale }} no-js" ng-app="site">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }}</title>
    <link rel="icon" type="image/svg" href="{{ 'assets/images/favicon.svg' | theme }}"/>
    {% styles %}
    <link href="{{ 'assets/stylesheets/site.css' | theme }}" rel="stylesheet">
    <base href="{{ url_base }}">
</head>

<body>

    {% partial 'api/google-tag-manager' %}

    <div class="container main-content">
        <div class="row content-text">
            {% page %}
        </div>
    </div>

    <script src="{{ 'assets/vendor/modernizr/modernizr.js' | theme }}"></script>
    <script src="{{ 'assets/javascript/site.vendor.js' | theme }}"></script>
    <script src="{{ 'assets/javascript/site.js' | theme }}"></script>
    {% scripts %}
    {% framework extras %}

</body>

</html>